
<div class="container">
   <div class="tab">
    <button class="tablinks" (click)="openTab($event, 'Counter')">Counter</button>
    <button class="tablinks" (click)="openTab($event, 'Tab2')">ColorSwitch</button>
    
  </div>
  <div class="tabcontent" style="display:block">
      <div class="jumbotron">
          Click on Any Snippet
      </div>
  </div>
  <div id="Counter" class="tabcontent">

    <h1>Counter</h1>
    <div class="container-fluid">

        <div class="row">
            <div class="col-4">
                
                    <div class="row">
                    <button class="btn btn-danger" (click)="decrease()">Decrease</button>
                    </div>
                    <div class="row">
                    <button class="btn btn-primary"(click)="increase()" >Increase</button>
                    </div>
                    <div class="row">
                    <button class="btn btn-info" (click)="reset()">Reset</button>
                    </div>
                
            </div>
            <div class="col-4">
                <div class="countValue">
                    <label *ngIf="n==0" class="text-primary">{{n}}</label>
                    <label *ngIf="n>0" class="text-success">{{n}}</label>
                    <label *ngIf="n<0" class="text-danger">{{n}}</label>
                </div>
            </div>
    </div>
</div>
<div id="ColorSwitch" class="tabcontent"></div>
</div>
<div id="Tab2" class="tabcontent">
    <div class="container-fluid">
        <div class="row">
            <div >
                <button (click)="colorSwitch()" id="cS">
                    Switch
                </button>
            </div>
        </div>
    </div>
</div>