.box {
align-items: center;
width:30%;
height:30%;
}

.countValue {
    align-items: center;
    width:60%;
    height:60%;
    
}
.countValue label {
        font-size: 10rem;
}
.row {
padding-top: 50px;
}
.row .box {
    padding-top:100px;
}
.btn {
    width:6em;

}
 .btn-primary:hover {
    background: white;
    color: #00a0ff;

}
.btn-danger:hover {
    background: white;
    color: red;

}
.btn-info:hover {
    background: white;
    color: #00ffff;

}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
   
    border-top: none;
    transition: 0.3s;
  }
  #cS{
    background: inherit;
  }